* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/professional-portfolio/assets/images/hans-isaacson-iEKg9h5_hd4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    filter:brightness(80%);
    font-family:sans-serif;
    color:white;
}

a {
    color:white;
    text-decoration: none;
}

p {
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.NYC-Times {
  max-width: 1280px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
}

nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/professional-portfolio/assets/images/lo-fi.jpg");
  min-height: 750px;
  display: flex;
  align-items: center;
}

.hero-content {
  padding-left: 20px;
}



.hero h1 {
    font-size: 60px;
    font-weight: bold;
    color:white;
    text-align: center;
    display: flex;
    margin: 12px 0;
}

.hero h2 {
    font-size: 30px;
    font-weight: lighter;
    color: white;
    margin: 20px 0;
}

.hero p {
    color: white;
    /* margin-left: 645px;
    margin-top: -400px; */
    max-width: 700px;
}

.hero img {
    height: 400px;
    width: 460px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px 10px 10px 10px;
    /* margin: 90px; */
}

.nav-btns {
  margin: 20px 0;
}

.button {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: black;
    background-color: peachpuff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    position: relative;
    display: inline-block;
    /* left: 630px; */
    /* bottom: 275px; */
    /* justify-content: center; */
    /* align-content: center; */
  }

  .button:hover {
    background-color: gray;
    color: peachpuff;
  }

  .articles {
    /* margin-top: 50px; */
    /* margin-bottom: 50px;
    margin-right: 20px; */

    max-width: 1280px;
    margin: 50px auto;
  }

  .articles h2 {
    /* float: left; */
    /* margin-left: 100px; */
    font-size: 46px;
    /* margin-right: 100px; */
  }

  #About {
    display: flex;
  }

  #About p {
    /* float: right; */
    /* margin-left: 450px;
    margin-right: 200px;
    margin-bottom: 20px; */
  }

  #Portfolio {
    display: flex;

  }

  #Portfolio h2, #About h2 {
    min-width: 20%;
    max-width: 20%;
  }

  #Portfolio img {
    margin: 50px;
    border: white 5px solid;
    box-shadow: 0px 0px 10px white;
    border-radius: 10px 10px 10px 10px;
  }

  #Portfolio img:hover{
    border-color:greenyellow;
    filter: brightness(150%);
  }

  #Portfolio a {
    font-size: 25px;
  }

  #Portfolio .primary-project :hover{
    color:greenyellow;
  }

  #Portfolio .secondary-projects :hover{
    color:greenyellow;
  }

  .primary-project {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .primary-image {
    height: 600px;
    width: 800px;
  }

  .project-details {
    display: block;
    position: absolute;
    background-color: peachpuff;
    padding: 6px;
    left: 55px;
    bottom: 65px;
    display: flex;
    flex-direction: column;
  }

  .secondary-image {
    height: 250px;
    width: 300px;
  }

  .secondary-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 20px;
    max-width: 100%;
}

.secondary-projects a, .primary-project a {
  position: relative;
}


.secondary-project-name {
}

  #Contact ul {
    display: flex;
    list-style: none;
    padding:0;
}

  #Contact ul li {
    margin-left: 100px;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 0.5em;
    margin-bottom: 100px;
  }

  #Contact a:hover {
    font-weight: bolder;
  }

  @media screen and (max-width: 1200px) {
/* @media screen and (max-width: 992px) { */
  .NYC-Times {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: auto;
    Padding: 20px;
    background-repeat: no-repeat;
  }

  .hero h1,
  .hero h2,
  .hero p {
    margin: 10px 0; /* Adjust margin for spacing */
  }

  .hero p {
    margin-bottom: 50px;
    font: 14px;
  }

  .button {
    position: static;
    margin: 10px; /* Center-align the buttons */
    left: auto;
    bottom: auto;
  }

  .hero img {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    max-width: auto;
    margin-bottom: 0px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .NYC-Times {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: auto;
    Padding: 20px;
    background-repeat: no-repeat;
  }

  .hero h1,
  .hero h2,
  .hero p {
    margin: 10px 0; /* Adjust margin for spacing */
  }

  .hero p {
    margin-bottom: 50px;
    font: 14px;
  }

  .button {
    position: static;
    margin: 10px; /* Center-align the buttons */
    left: auto;
    bottom: auto;
  }

  .hero img {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    max-width: auto;
    margin-bottom: 0px;
    margin-top: 30px;
  }
}


@media screen and (max-width: 576px) {
  .NYC-Times {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: auto;
    Padding: 20px;
    background-repeat: no-repeat;
  }

  .hero h1,
  .hero h2,
  .hero p {
    margin: 10px 0; /* Adjust margin for spacing */
  }

  .hero p {
    margin-bottom: 50px;
    font: 14px;
  }

  .button {
    position: static;
    margin: 10px; /* Center-align the buttons */
    left: auto;
    bottom: auto;
  }

  .hero img {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    max-width: auto;
    margin-bottom: 0px;
    margin-top: 30px;
  }
}